@import "../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../common/ui/styles/colors";

.title {
  font-weight: 600;
  font-size: $font-size-xlarge-28;
  border-bottom: 1px solid $brown;
  margin-bottom: 22px;
}

.currentCategory {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    border: 1px solid $brown;
    font-size: $font-size-xlarge-24;
    font-weight: 400;
    padding: 7px 15px;
    text-align: center;
    width: fit-content;
  }
}

.headerContainer {
  width: 100%;
  top: 40px;
  padding: 10px 9% 0;
  position: sticky;
  background-color: $white;
  z-index: 100;
}

.filterBadges {
  display: flex;
  align-self: flex-start;
  padding: 10px 9%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2%;
  width: 100%;
  background-color: $white;
  z-index: 100;
  position: sticky;
  top: 106px;

}

.resetFilters {
  padding: 0 9% 10px;
  width: 100%;
  background-color: $white;
  position: sticky;
  top: 148px;
  z-index: 100;
  button {
    width: 100%;
  }
}
