@import "../../../../../../common/ui/styles/media-sizes";

.Banner {
  display: flex;
  grid-area: content;
}


.ProductsList {
  grid-area: content;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 30%);
  column-gap: 5%;
  row-gap: 30px;

  @media screen and (max-width: $xl-size) {
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
  }

  @media screen and (max-width: $md-size) {
    grid-template-columns: 1fr;
    column-gap: unset;
  }

  .observingBlock {
    width: 20px;
    height: 20px;
    display: none;

    &.active {
      display: block;
    }
  }
}
