@import "../../../../common/ui/styles/colors";

.Loader {
  opacity: 1;
  border: 16px solid $light-gray;
  border-top: 16px solid $brown;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;

  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}