.ButtonTerritory{
  background: rgba(34, 17, 34, 0.9);
  box-shadow: 4px 4px 6px rgba(85, 80, 77, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 56px;
}
