@import "../../../../../../common/ui/styles/colors";

.DressCategories {
  grid-area: sidebar;
  min-width: 250px;
  .categories {
    display: flex;
    flex-direction: column;
    gap: 45px;
    box-shadow: $shadow-main;
    padding: 30px;

    p {
      color: $gray;
      cursor: pointer;

      &.selected {
        color: $black;
        text-decoration: underline 1px solid $brown;
        text-underline-offset: 5px;
      }
    }
  }
}
