@import "../../../../../../common/ui/styles/colors";

.DressCategories {
  grid-area: sidebar;
  min-width: 250px;
  .categories {
    display: flex;
    flex-direction: column;
    gap: 45px;
    box-shadow: $shadow-main;
    padding: 30px;

    & p {
      color: $gray;
      cursor: pointer;

      &.selected, &.category:hover {
        color: $black;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: $brown;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
      }
    }
  }
}
