@import "../../../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../../../common/ui/styles/media-sizes";

.ProductCardAdd {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow-black;
  cursor: pointer;

  @media screen and (max-width: $xl-size) {
    width: 40%;
  }
}
