@import '/src/styles/colors';
@import '/src/styles/media-sizes';
@import '/src/styles/font-sizes';

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: calc(100vh - 10vh - 13vh);

  @media screen and (max-width: $xxs-size) {
    width: 100%;
  }

  @media screen and (max-height: $xs-size) {
    height: 100vh;
  }
  
  @media screen and (max-width: $lg-size) and (max-height: $lg-size) {
    height: 100vh;
  }

  input, button{
    @media screen and (max-width: $xs-size), (max-height: $xs-size){
      font-size: $font-size-medium-16 !important;
    }
  }

  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 60vh;
    border: 1px solid $black;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.27);
    background-color: $white;

    @media screen and (max-width: $xxs-size), (max-height: $xxs-size) {
      height: 100%;
      width: 100%;
      margin: 0;
      border: none;
      box-shadow: none;
    }

    @media screen and (max-width: $xs-size) {
      width: 320px;
    }

    @media screen and (max-width: $lg-size) {
      height: 80%;
    }

    &_img_input {
      margin-left: 32px;

      @media screen and (max-width: $lg-size){
        margin-left: 12px;
      }
    }

    &_entry_label {
      text-align: center;
      width: 150px;
      border-bottom: 1px solid $brown;
    }


    &_input {
      display: flex;
      align-items: center;
      color: rgba(34, 17, 34, 0.65);
      border-bottom: 1px solid rgba(34, 17, 34, 0.9);
      width: 370px;
      height: 5vh;

      &_too_short_login{
        border-bottom: 1px solid rgba(255, 0, 0, 0.9);
        display: block;
      }

      &_too_long_login{
        border-bottom: 1px solid rgba(255, 0, 0, 0.9);
        display: block;
      }

      &_too_short_password{
        border-bottom: 1px solid rgba(255, 0, 0, 0.9);
        display: block;
      }

      img, input{
        @media screen and (max-width: $xs-size), (max-height: $lg-size){
          margin-bottom: 10px;
        }
      }

      img {
        width: 25px;
        height: 25px;
      }

      &_password {
        margin-top: 4vh;
      }

      @media screen and (max-width: $lg-size) {
        width: 90%;
        margin-top: 20px;
      }
    }

    input {
      background-color: inherit;
      width: 100%;
      height: 30px;
      margin-left: 14px;
      font-size: $font-size-xlarge-24;
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 175px;
      height: 56px;
      color: $white;
      font-size: $font-size-xlarge-24;
      box-shadow: 4px 4px 6px rgba(185, 117, 67, 0.25);
      background-color: $brown;
    }
  }
}

