@import "../../../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../../common/ui/styles/colors";

.DressCategories {
  border: 1px solid $brown;
  margin: 0 auto;
  width: fit-content;
  padding: 7px 12px;

  p {
    font-size: $font-size-xlarge-24;
  }
}