@import "../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../common/ui/styles/colors";

.title {
  margin: 0 auto 43px;
  min-height: 60px;
  padding: 0 20px 20px;
  border-bottom: 1px solid $brown;
  text-align: center;
  width: fit-content;

  @media screen and (max-width: $md-size) {
    margin: 0 auto 20px;
    font-size: 30px;
  }

  @media screen and (max-width: $sm-size) {
    font-size: 30px;
    padding: 0;
    width: 100%;
    margin: 0 0 20px;
    min-height: 40px;
  }

  @media screen and (max-width: $xs-size) {
    font-size: 24px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

.searchContainer {
  width: calc(100% + 10px);
  padding: 20px 28px;
  margin: 0 auto;
  background-color: $white;
  position: sticky;
  z-index: 100;
  top: 0;

  .searchBar {
    margin-top: 10px;
    background-color: $white;

    .filters {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  .currentFilters {
    margin-top: 10px;
    display: flex;
    column-gap: 6px;
    row-gap: 10px;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .deleteFilters {
    display: flex;
    flex-direction: column;
    button {
      height: 41px;
      padding: 0;
      white-space: nowrap;
      font-size: $font-size-xmedium-18;
    }
  }

  @media screen and (max-width: $sm-size) {
    padding: 20px 20px;
  }
}