@import "../../../../styles/media-sizes";
@import "../../../../styles/colors";
@import "../../../../styles/font-sizes";

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 224px;
  border-right: 1px solid $brown;
  display: flex;
  flex-flow: column;
  gap: 5em;
  align-items: center;
  padding-left: 1.2em;
  padding-right: 1.2em;

  @media screen and (max-width: $lg-size) {
    display: none;
  }

  .navbarList {
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 147.4px;
    border-bottom: 1px solid $gray;

    .logoTitle {
      letter-spacing: -0.17em;
      font-family: 'Roboto';
      font-size: $font-size-xlarge-36;
      font-weight: 700;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $gray;
    height: 10em;
    padding: 16px 28px;

    p {
      font-size: $font-size-xlarge-32;
      font-weight: 600;
      font-family: 'Roboto';
    }

    .register {
      color: red;
      font-weight: 800;
      font-size: x-large;
    }
  }
}