@import "../../../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../../common/ui/styles/colors";

$sidePaddings: 25px;

.ProductCardMobile {
  display: flex;
  height: 156px;
  position: relative;
  width: 100%;
  &::after {
    content: ' ';
    display: block;
    height: 1px;
    background-color: $light-gray;
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
  }

  img {
    margin-right: 16px;
  }

  .checkbox {
    position: absolute;
    top: 0;
    right: 0;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    h3 {
      font-weight: bold;
      font-size: $font-size-xlarge-24;
    }
    .properties {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .property {
        display: flex;
        align-items: center;
        p {
          margin-right: 10px;
        }
        .colors {
          display: flex;
          gap: 5px;
          span {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 100%;
          }
        }

        .sizes {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}