@import "../../../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../../../common/ui/styles/font-sizes";

.ProductCard {
  width: 46%;
  position: relative;
  box-shadow: $shadow-black;
  cursor: pointer;
  img {
    width: 100%;
    filter: saturate(0.5);
    &.active {
      filter: saturate(1);
    }
  }
  .description {
    position: absolute;
    bottom: 0;
    background-color: $white;
    width: 100%;
    padding-bottom: 105px;

    h3 {
      font-weight: 600;
      font-size: $font-size-xlarge-36;
      text-align: center;
      margin: 22px 0;
    }

    .options {
      display: flex;
      flex-direction: column;
      padding: 0 22px;

      .optionItem {
        display: flex;
        border-bottom: 1px solid $light-gray;
        margin-bottom: 20px;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        p {
          font-size: $font-size-xlarge-24;
          color: $black;
        }

        .items {
          font-size: $font-size-xmedium-18;
          color: $black;
          display: flex;
          gap: 5px;
        }
      }

      .colors {
        .items {
          display: flex;
          gap: 5px;
          span {
            border-radius: 100%;
            display: block;
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
  }
}
