@import "../../../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../../../common/ui/styles/media-sizes";

.DressCategories {
  background-color: $white-border;
  padding: 22px 52px 22px 47px;
  font-size: $font-size-xlarge-24;
  display: flex;
  justify-content: space-between;

  span {
    white-space: nowrap;
    padding-bottom: 5px;
    cursor: pointer;
    color: $gray;

    &.active {
      border-bottom: 1px solid $brown;
      color: $black;
    }
  }

  @media screen and (max-width: $xl-size) {
    font-size: $font-size-xmedium-18;

    padding: 22px 35px 22px 30px;
  }
}
