@import "../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../common/ui/styles/colors";

.CategoriesDesktop {
  padding: 90px 0;
  .title {
    text-align: center;
    font-weight: 600;
    font-size: $font-size-xlarge-36;
    margin-bottom: 50px;
  }

  .slider {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    margin-left: 120px;
    height: 1000px;

    &Wrapper {
      display: flex;
      position: relative;
      height: 100%;
      gap: 30px;
      transition: left 0.3s ease;

      .card {
        margin-bottom: 12px;
        img {
          border-radius: 10px;
          transition: all 0.3s ease;
          &.medium {
            height: 620px;
          }

          &.small {
            height: 530px;
          }

          &.main {
            height: 800px;
          }

        }

        h3 {
          font-size: $font-size-xlarge-32;
          font-weight: 400;
          color: $black;
          margin: 24px 0 12px;
        }

        span {
          font-size: $font-size-xmedium-18;
          font-weight: 400;
          color: $gray;
        }
      }
    }

    &Btn {
      background: $transparent-gray-gradient;
      height: 100%;
      position: absolute;
      z-index: 1000;
      width: 202px;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      cursor: pointer;
      display: none;
      border-radius: 10px;

      &.active {
        display: flex;
      }

      &:hover {
        opacity: 1;
      }

      &.left {
        left: 0;
        svg {
          transform: rotate(-90deg);
        }
      }

      &.right {
        right: 0;
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
