@import '../../../../../../styles/colors';

.Wrapper {
  margin: 120px 0 100px;

  &_header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 12px;
    padding: 0 50px 0 50px;

  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background: $silver-gradient;
}


.cardName {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.cardDescription {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.cardImage {
  height: 25vw;
  z-index: -1;
  object-fit: fill;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background: $silver-gradient;
}


.cardName {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.cardDescription {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.cardImage {
  height: 25vw;
  z-index: -1;
}
