.Wrapper {
  margin: 120px 0 100px;

  &_header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 0 50px 0 50px;

  }
}
