@import "../../../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../../common/ui/styles/font-sizes";

.SearchBar {
  display: flex;
  align-items: center;
  margin-top: 18px;
  label {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: $light-gray;
    height: 56px;
    display: flex;
    align-items: center;
    cursor: text;
    #searchIcon {
      margin: 0 7px 0 21px;
    }
    input {
      background-color: transparent;
      font-size: $font-size-large-20;
      width: 100%;
    }
  }

  #filterIcon, #crossIcon {
    margin-left: 26px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  @media screen and (max-width: $md-size) {
    #filterIcon, #crossIcon {
      width: 24px;
      height: 24px;
    }
  }
}