@import '../../../../../../styles/media-sizes';
@import '../../../../../../styles/colors';
.Mobile{
  &_card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    width: 49%;
    @media screen and (max-width: $md-size) {
      width: 47%;
    }
    @media screen and (max-width: $xxs-size) {
      width: 45%;
    }

    &:first-child{
      width: 100%;
      h3{
        display: flex;
        @media screen and (max-width: $md-size) {
          position: absolute;
          font-size: 18px;
          bottom: 68px;
        }
        @media screen and (max-width: $sm-size) {
          position: absolute;
          font-size: 1em;
          bottom: 48px;
        }
      }
      span{
        display: flex;
        color: $gray;
        @media screen and (max-width: $sm-size) {
          position: absolute;
          font-size: 0.6em;
          bottom: 13px;
        }
      }
      img{
        height: 45vw;
      }
    }

    &_name{
      position: absolute;
      bottom: 60px;
      left: 20px;
      font-size: 32px;
      color: $black;
      @media screen and (max-width: $lg-size) {
        font-size: 22px;

      }
      @media screen and (max-width: $md-size) {
        font-size: 0.8em;
        bottom: 18px;
      }
    }
    &_description {
      position: absolute;
      bottom: 30px;
      left: 20px;
      font-size: 18px;
      color: $gray;
      span{

          color: $gray;

      }
      @media screen and (max-width: $lg-size) {
        bottom: 15px;
        font-size: 13px;
      }
      @media screen and (max-width: $md-size) {
        display: none;
        bottom: 18px;
        font-size: 0.8em;
      }
    }

    &_image{
      height: 23vw;
      background-image: linear-gradient(0deg, rgba(196, 196, 196, 0.8) 0%, rgba(196, 196, 196, 0) 142.47%);
      @media screen and (max-width: $lg-size) {
        height: 31vw;
        object-fit: fill;
      }
      @media screen and (max-width: $md-size) {
        height: 31vw;
        object-fit: fill;
      }
    }
    }
}
