@import '../../../../../../styles/media-sizes';
.Mobile{
  &_card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    &:first-child{
      h3{
        display: flex;
        @media screen and (max-width: $md-size) {
          position: absolute;
          font-size: 18px;
          bottom: 68px;

        }
        @media screen and (max-width: $sm-size) {
          position: absolute;
          font-size: 1em;
          bottom: 48px;
        }
      }
      span{
        display: flex;
        color: $gray;
        @media screen and (max-width: $sm-size) {
          position: absolute;
          font-size: 0.6em;
          bottom: 13px;
        }
      }
      img{
        height: 25vw;
      }
    }

    &_name{
      position: absolute;
      bottom: 60px;
      left: 20px;
      font-size: 32px;
      color: $black;
      @media screen and (max-width: $lg-size) {
        font-size: 22px;

      }
      @media screen and (max-width: $md-size) {
        font-size: 0.8em;
        bottom: 18px;
      }
    }
    &_description {
      position: absolute;
      bottom: 30px;
      left: 20px;
      font-size: 18px;
      color: $gray;
      span{

          color: $gray;

      }
      @media screen and (max-width: $lg-size) {
        bottom: 15px;
        font-size: 13px;
      }
      @media screen and (max-width: $md-size) {
        display: none;
        bottom: 18px;
        font-size: 0.8em;
      }
    }

    &_image{
      height: 23vw;
    }
    }
}
