@import "../../../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../../../common/ui/styles/media-sizes";

.ProductCard {
  position: relative;
  box-shadow: $shadow-black;
  cursor: pointer;
  background-color: $white;
  width: 30%;
  padding: 18px;
  img {
    width: 100%;
  }
  .description {

    h3 {
      font-weight: 600;
      font-size: $font-size-xlarge-36;
      text-align: center;
      margin: 22px 0;
    }

    .options {
      display: flex;
      flex-direction: column;

      .optionItem {
        display: flex;
        border-bottom: 1px solid $light-gray;
        margin-bottom: 20px;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        p {
          font-size: $font-size-xlarge-24;
          color: $black;
        }

        .items {
          font-size: $font-size-xmedium-18;
          color: $black;
          display: flex;
          gap: 5px;
        }
      }

      .colors {
        .items {
          display: flex;
          gap: 5px;
          span {
            border-radius: 100%;
            display: block;
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
  }

  @media screen and (max-width: $xl-size) {
    width: 32%;
    .description {

      h3 {
        font-size: $font-size-xlarge-28;
      }

      .options {

        .optionItem {
          margin-bottom: 10px;
          justify-content: space-between;
          p {
            font-size: $font-size-medium-16;
            color: $black;
          }

          .items {
            font-size: $font-size-normal-14;
            gap: 2px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}
