.colorItem {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;

  span {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }

  &Circle {
    border-radius: 50%;
    height: 15px;
    margin-left: 5px;
    min-width: 15px;
    width: 15px;
  }
}
