@import "../../../../../../common/ui/styles/font-sizes";

.ModelSettings {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;

	.addButton {
		width: 100px;
		background-color: Transparent;
		font-size: $font-size-xlarge-24;
	}

	.buttonArea{
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
	}

}
