$width:100%;
$logo-spacing:-6px;
$header-padding:36px 130px;
$header-size:24px;
$height:100vh;
$logo-size:36px;
$menu-left:8em;
$item-right:30px;
$number-right:30px;
$cart-width:26px;
$cart-size:14px;
$cart-border:20px;
$cart-padding:2px 5px 1px;
$cart-left:16px;
$cart-index:2;
$modal-left:0;
$xxl-size:3em;
$xxl-width:90%;
$xxl-padding:36px 0;
$xxl-height:28px;
$xxl-left:40px;
$xxl-index:5;
$xxl-modal:48px 98px 63px 98px;
$xxl-child:31px;
$xxl-last:91px;
$xl-size:30px;
$xl-left:1em;
$xl-indent:25px;
$xl-size_number:20px;
$lg-size:25px;
$lg-left:0.5em;
$lg-right:16px;
$lg-size_number:16px;
$md-padding:36px 80px 36px 20px;
$sm-padding:48px 0px 63px 28px;
