.DetailedSearch{
  &_simpleOption{
    margin-left: 5px;
    white-space: break-spaces;
  }
  &_colorOption {
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
      word-break: break-all;
    }
    &_colorCircle {
      margin-left: 5px;
      height: 15px;
      width: 15px;
      min-width: 15px;
      border-radius: 50%;
    }
  }
}
