@import "../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../common/ui/styles/font-sizes";

.GoodsSettingHeaderDesktop {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .breadCrumbs {
    color: $gray;
    font-size: 18px;
    align-self: flex-start;
  }

  h1 {
    font-size: $font-size-xlarge-36;
    font-weight: 600;
    position: relative;
    width: fit-content;
    &::after {
      position: relative;
      display: block;
      content: ' ';
      background-color: $brown;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 43px;
    }
  }

  .headerContainer {
    padding: 0 10% 0 8%;
    width: 100%;
  }
}
