@import "../../../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../../common/ui/styles/colors";

.AddProductCardMobile {
  background-color: #eaeaea;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  svg {
    width: 105px;
    height: 105px;
  }

  @media screen and (max-width: $md-size) {
    svg {
      width: 66px;
      height: 66px;
    }
  }
}