@import "../../../styles/media-sizes";
@import "../../../styles/font-sizes";
@import "../../../styles/colors";
@import "../../../styles/variables";

.DropdownSelectList {
  cursor: pointer;
  position: relative;
  z-index: 100;
  min-width: 113px;
  .currentFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    p {
      margin-left: 20px;
      font-size: $font-size-xlarge-24;
    }

    svg {
      width: 12px;
      height: 6px;
      min-width: 12px;
      margin-right: 26px;
      transition: transform $animation-duration;
      &.active {
        transform: scaleY(-1);
        path {
          stroke: $brown;
        }
      }
    }
  }

  .options {
    top: 100%;
    width: 100%;
    overflow-y: hidden;
    transition: height $animation-duration;
    left: 0;
  }

  @media screen and (max-width: $xl-size) {
    width: calc((100% - 30px) / 4);
    .currentFilter {
      p {
        font-size: $font-size-medium-16;
        margin-left: 10px;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}
