@import "../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../common/ui/styles/font-sizes";

.CatalogContentMobile {
  width: 100%;
  margin-top: 30px;
  grid-area: content;
  display: flex;
  column-gap: 2%;
  row-gap: 26px;
  flex-wrap: wrap;
  padding: 0 15px;
}
