@import "../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../common/ui/styles/media-sizes";

.CatalogHeaderDesktop {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $white;
  padding: 20px 15px 0;

  .headerContainer {
    width: 100%;
    display: flex;
    gap: 2.5%;
  }

  .filterBadges {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3%;
    padding: 0 10% 0 8%;
    margin-top: 18px;
  }
}
