.colorTab {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;

  span {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &Circle {
    border-radius: 50%;
    height: 20px;
    margin-left: 5px;
    min-width: 20px;
    width: 20px;
  }
}
