@import "../../../../../../../../common/ui/styles/media-sizes";
@import "../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../common/ui/styles/colors";

.CatalogContentDesktop {
  display: flex;
  flex-wrap: wrap;
  row-gap: 36px;
  flex-grow: 1;
  grid-area: content;
  column-gap: 5%;
  padding: 0 15px;

  @media screen and (max-width: $xl-size) {
    column-gap: 2%;
  }
}
