@import "../../../../styles/media-sizes";
@import "../../../../styles/colors";
* {
  margin: 0;
  box-sizing: border-box;
}
.div {
  position: absolute;
  left: 20%;
  width: 100px;
  top: 0;
  @media screen and (max-width: $lg-size) {
    display: none;
  }
}
