@import '../../../../../../../../common/ui/styles/colors';

.tab {
  align-items: center;
  border: 1px solid $brown;
  display: flex;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  justify-content: center;
  line-height: 19px;
  padding: 1px;
  width: 100%;

  &Secondary {
    border: 1px solid $bg-secondary;
  }
}