@import '../../../../../styles/colors';

.container {
  position: absolute;
  bottom: 10px;
  min-height: 94px;
  background: $light-blue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  animation: appear .4s;
  overflow: hidden;

  &_desktop {
    right: 10px;
    min-width: 20vw;
    max-width: 25vw;

    &_message {
      margin: 5px 10% 10% 15%;
    }
  }

  &_mobile {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;

    &_message {
      align-self: center;
      margin-top: 10px;
      margin-bottom: 15%;
      margin-left: 15px;
    }
  }

  &_icons {
    margin: 5px;
    display: flex;
    justify-content: space-between;

    button {
      background: inherit;
    }
  }
}

@keyframes appear {
  0% {
    height: 0;
  }
}
