@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/media-size';

.Header {
    display: flex;
    justify-content: space-around;
    background-color: $white;
    width: $width;
    padding: $header-padding;
    align-items: center;
    font-size: $header-size;
    border-bottom: $light-gray;

    &_left {
        display: flex;
    }

    &_logo {
        font-size: $logo-size;
        font-weight: bold;
        letter-spacing: $logo-spacing;
        cursor: pointer;
    }

    &_menu {
        margin-left: $menu-left;
        display: flex;
        align-items: center;
        cursor: pointer;

        &__item>span {
            margin-right: $item-right;
            color: $black;

            &:hover {
                border-bottom: $border-bottom;
            }

            &:active {
                border-bottom: $border-bottom;
            }
        }
    }

    &_right {
        display: flex;
    }

    &_number {
        margin-right: $number-right;
        padding-right: $number-right;
        border-right: $brown;
        font-size: $header-size;
        cursor: pointer;
    }

    &_cart {
        display: flex;
        position: relative;
        cursor: pointer;

        img {
            width: $cart-width;
        }

        p {
            position: absolute;
            font-size: $cart-size;
            background-color: $brown;
            color: $white;
            border-radius: $cart-border;
            padding: $cart-padding;
            left: $cart-left;
            z-index: $cart-index;
        }
    }

    &_mobile {
        display: none;

        &_menu {
            &__item {
                &:hover {
                    border-bottom: $brown;
                }
            }
        }

        &_modal {
            position: fixed;
            left: $modal-left;
        }
    }

    @media screen and (max-width: $xxl-size) {
        width: $xxl-width;
        padding: $xxl-padding;
        display: flex;
        align-items: baseline;

        &_menu {
            margin-left: $xxl-size;
        }

        &_mobile {

            &__burger {
                height: $xxl-height;
                margin-left: $xxl-left;
                z-index: $xxl-index;
            }

            &_modal {
                width: $width;
                padding: $xxl-modal;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: $light-gray;
            }

            &_menu {
                font-size: $xl-size_number;
                height: $height;
                display: flex;
                align-items: center;
                flex-direction: column;

                li {
                    &:nth-child(1n) {
                        padding-bottom: $xxl-child;
                    }

                    &:last-child {
                        padding-top: $xxl-last;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $xl-size) {
        &_logo {
            font-size: $xl-size;
        }


        &_menu {
            margin-left: $xl-left;
            display: flex;
            align-items: center;
            cursor: pointer;

            &__item>span {
                margin-right: $xl-size_number;
                color: $black;
                font-size: $xl-size_number;
            }
        }

        &_number {
            margin-right: $xl-indent;
            padding-right: $xl-indent;
            font-size: $xl-size_number;
        }
    }

    @media screen and (max-width: $lg-size) {
        &_logo {
            font-size: $lg-size;
        }


        &_menu {
            margin-left: $lg-left;
            display: flex;
            align-items: center;
            cursor: pointer;

            &__item>span {
                margin-right: $lg-right;
                color: $black;
                font-size: $lg-size_number;
            }
        }

        &_number {
            margin-right: 10px;
            padding-right: 10px;
            font-size: $lg-size_number;
        }
    }

    @media screen and (max-width: $md-size) {
        display: flex;
        justify-content: space-between;
        width: $width;
        padding: $header-padding;
        width: $width;
        padding: $md-padding;

        &_cart {
            display: none;
        }

        &_mobile {
            display: flex;
        }

        &_menu {
            display: none;
        }

        &_right {
            display: none;
        }

        &_number {
            display: none;
        }
    }

    @media screen and (max-width: $sm-size) {
        &_mobile {
            &_modal {
                width: $width;
                padding: $sm-padding;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-bottom: $light-gray;
            }

            &_menu {
                align-items: flex-start;
            }
        }
    }

}