@import '../../styles/colors';
.Header {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    width: 100%;
    padding: 36px 130px;
    align-items: center;
    font-size: 24px;
    border-bottom: 2px solid $light-gray;
    &_left {
        display: flex;
    }
    &_logo {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: -6px;
        cursor: pointer;
    }
    &_menu {
        margin-left: 8em;
        display: flex;
        align-items: center;
        cursor: pointer;
        &__item {
            margin-right: 30px;
            color: $black;
            
            &:hover {
                border-bottom: 1.8px solid rgba(167, 82, 20, 0.8);
            }
            &:first-child{
                border-bottom: 1.8px solid rgba(167, 82, 20, 0.8);
            }
        }
    }

    &_right {
        display: flex;
    }

    &_number {
        margin-right: 30px;
        padding-right: 30px;
        border-right: 2px solid $brown;
        font-size: 24px;
        cursor: pointer;
    }

    &_cart {
        display: flex;
        position: relative;
        cursor: pointer;
        img {
            width: 26px;
        }
        p {
            position: absolute;
            font-size: 14px;
            background-color: $brown;
            color: $white;
            border-radius: 20px;
            padding: 2px 5px 1px;
            left: 16px;
            z-index: 2;
        }
    }

    &_mobile {
        display: none;
        &_menu {
            &__item {            
                &:hover {                
                    border-bottom: 2px solid $brown;
                }
            }
        }
        &_modal {
            position: fixed;
            left: 0;
        }
    }

    @media screen and (max-width: 1500px) {
        padding: 30px;

        &_mobile {
            
            &__burger {
                height: 28px;
                margin-left: 40px;
                z-index: 5;
            }
            &_modal {
                width: 100%;
                padding: 48px  98px 63px 98px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid $light-gray;
            }
            &_menu {
                font-size: 20px;
                height: 100vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                li {
                    &:nth-child(1n){
                        padding-bottom: 31px;
                    }
                    &:last-child{
                        padding-top: 91px;
                    }
                }
            }
        }
        
        
    }
    @media screen and (max-width: 1200px){
        .Header{
            &_logo{
                font-size: 30px;
            }
        &_mobile{
            display: none;
        }
        &_menu {
            margin-left: 4em;
            font-size: 20px;
        }
        &_number{
            font-size: 20px;
        }
    }
    }
    @media screen and (max-width: 1075px){
        .Header{
            &_logo{
                font-size: 24px;
            }
        &_mobile{
            display: none;
        }
        &_menu {
            margin-left: 4em;
            font-size: 18px;
        }
        &_number{
            font-size: 18px;
        }
    }
    }
    @media screen and (max-width: 970px){
        .Header{
            &_logo{
                font-size: 24px;
            }
        &_mobile{
            display: none;
        }
        &_menu {
            margin-left: 2em;
            font-size: 16px;
        }
        &_number{
            font-size: 16px;
        }
    }
    }
    @media screen and (max-width: 875px){
        .Header{
        &_mobile{
            display: flex;
        }
        &_menu {
          display: none;
        }
        &_right {
            display: none;
        }
        &_number{
            display: none;
        }
    }
    }

    @media screen and (max-width: 500px) {
        height: 70px;
        &_logo {
            font-size: 20px;
            letter-spacing: -4px;
        }
        &_cart {
            p {
                font-size: 12px;
            }
        }
        img {
            width: 22px;
        }
        &_mobile {
            &_modal {
                padding: 48px 28px 63px;
               justify-content: start;
            }
            &_menu {
                display: flex;
                align-items: flex-start;
                justify-content: start;
            }
        }
    }
}
