@import '../../../../../../../common/ui/styles/font-sizes';
@import '../../../../../../../common/ui/styles/colors';

.CatalogSearchMobile{
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-area: header;

  &_simpleOption{
    margin-left: 10px;
  }
  &_detailedSearchWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
  }
  &_heading {
    display: flex;
    justify-content: center;
    margin: 20px auto 30px;
    text-align: center;
  }

  &_searchBar{
    display: grid;
    grid-template-columns: 1fr 44px;
    height: 72px;
    align-items: center;
    gap: 15px;
    svg {
      cursor: pointer;
    }
  }
  &_cross {
    display: flex;
    align-items: center;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
