@import "../../../../../styles/media-sizes";
@import "../../../../../styles/font-sizes";
@import "../../../../../styles/colors";
@import "../../../../../styles/variables";


.OptionItem {
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    height: 60px;
    background-color: $white;
    p {
      font-size: $font-size-xmedium-18;
      margin-left: 10px;
    }
    input {
      display: none;
    }
    .empty {
      width: 24px;
      height: 24px;
      min-width: 24px;
      background-color: transparent;
      border: gray 1px solid;
      display: block;
    }
    svg {
      min-width: 24px;
    }

    .colorCircle {
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      border-radius: 100%;
      margin-left: 5px;
      margin-right: -5px;
    }

    &:hover {
      background-color: #efefef;
    }
  }

  @media screen and (max-width: $xl-size) {
    label {
      padding: 0 5px;
      p {
        font-size: $font-size-normal-14;
        margin-left: 6px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
      .empty {
        width: 20px;
        height: 20px;
        min-width: 20px;
      }
    }
  }
}
