@import "../../../../styles/font-sizes";


.ModalHeader {
  height: 10%;
  font-size: $font-size-xlarge-24;
  display: grid;
  grid-template-columns: 20fr 1fr;

  &_modalTitle{
    display: flex;
    justify-content: center;
  }

  &_cross{
      cursor: pointer;
  }
}


