@import "../../../../styles/media-sizes";
@import "../../../../styles/colors";

.adminMobileWrapper {
  height: 100vh;
  margin: 3%;

  .mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 0 28px 0 28px;
    

    .buttonBurgerMobile {
      img {
        width: 24px;
      }
    }
  }

  .linkMobileWrapper {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    margin-top: 100px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      color: $gray;
      background-color: $light-gray;
      font-size: 24px;
      width: 250px;
      height: 50px;
      padding-bottom: 4px;
      &:hover {
    cursor: pointer;  
    }
      .register {
        color: red;
        font-weight: 800;
        font-size: large;
      }
    }
    .exit {
   transform: translate(0, 17em);
   margin-bottom: 100px;
    }
  }
}
