@import '../../../../../../common/ui/styles/media-sizes';
@import '../../../../../../common/ui/styles/font-sizes';
@import '../../../../../../common/ui/styles/colors';

.CategoriesMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;

  .title {
    color: $black;
    text-align: center;

    h2 {
      font-size: $font-size-xlarge-28;
      font-weight: 400;
    }
  }

  .slider {
    display: flex;
    flex-direction: column-reverse;
    min-height: 500px;
    width: 100vw;

    &_dots {
      position: static !important;
      display: flex !important;
      width: 100vw;
      justify-content: center;
      gap: 10px;
      margin: 20px 0;

      & ul {
        list-style: none;
      }

      & li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
        background-color: $gray;
      }

      & li button:before {
        color: transparent !important;
      }

      & li[class='slick-active']{
        background-color: $brown;
      }
    }

    &_slide {
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 0 calc(10vw / 2);

      &_currentImage {
        display: flex;
        align-items: center;
        min-height: 450px;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &_description {
        margin-top: 10px;
        color: $gray;
      }
    }
  }
}
