@import '../../../../../../../styles/media-sizes';

.Header{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 105px;


  &_logo{
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -0.17em;
  }

  div{
    width: 322px;
    text-align: center;
    border-bottom: 1px solid rgba(34, 17, 34, 0.9);
  }

}
