@import "../../../../../../../../common/ui/styles/colors";
@import "../../../../../../../../common/ui/styles/font-sizes";
@import "../../../../../../../../common/ui/styles/media-sizes";

.ProductCard {
  padding: 18px;
  background-color: #FFFFFF;
  border: 1px $gray solid;
  box-shadow: $shadow-main;
  cursor: pointer;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  &.active {
    outline: 2px solid $brown;
    border: 1px solid $brown;

    .description {
      h3 {
        color: $brown;
      }
    }
  }

  img {
    height: 400px;
    align-self: center;

    &.hovered {
      opacity: 0.7;
    }
  }

  .checkbox {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 45px;
    height: 45px;
  }

  .update {
    position: absolute;
    top: 360px;
    right: 25px;
    width: 45px;
    height: 45px;
  }

  .description {
    h3 {
      margin: 40px 0 28px;
      text-align: center;
      font-weight: 400;
      font-size: $font-size-xlarge-24;
      color: $black;
    }

    .options {
      display: flex;
      flex-direction: column;
      gap: 26px;

      .optionItem {
        display: flex;
        align-items: center;

        p {
          width: 80px;
        }

        .items {
          padding-right: 5px;
          justify-content: flex-end;
          display: flex;
          column-gap: 5%;
          row-gap: 6px;
          width: 100%;
          margin-left: 10px;
        }

        &.sizes {
          .items {
            color: $gray;
            flex-wrap: wrap;
            span {
              border: $gray 1px solid;
              padding: 2px 5px;
              font-size: $font-size-xmedium-18;
            }
          }
        }

        &.colors {
          .items {
            span {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $xl-size) {

    .description {
      .options {
        .optionItem {
          p {
            font-size: $font-size-medium-16;
          }

          .items {
            column-gap: 5%;
          }
          &.sizes {
            .items {
              span {
                font-size: $font-size-normal-14
              }
            }
          }
        }
      }
    }
  }
}
