@import '../../../styles/colors';
.ButtonAccent{
    font-weight: 400;
    font-size: 24px;
    height: 56px;
    padding: 10px 32px;
    color: $white;
    border: none;
    box-shadow: $shadow-brown;
    background-color: $brown;
    &:hover {
        box-shadow: none;
    }
    &_active{
        box-shadow: $shadow-brown-press;
        cursor: default;
        transition: 0.15s ease-in-out;
    }
    &:disabled {
      cursor: default;
      background: rgba(33, 33, 33, 0.5);
      box-shadow: 4px 4px 6px rgba(85, 80, 77, 0.25);
      transition: 0.15s ease-in-out;
    }
    &:active {
      background: rgba(167, 82, 20, 0.8);
      box-shadow: inset 4px 4px 8px rgba(34, 17, 34, 0.25), inset -4px -4px 8px rgba(34, 17, 34, 0.25);
      transition: 0.15s ease-in-out;
    }
}
