@import '../../../styles/colors';
.ButtonAccent{
    font-weight: 400;
    font-size: 24px;
    height: 56px;
    padding: 10px 32px;
    color: $white;
    border: none;
    box-shadow: $shadow-brown;
    background-color: $brown;
    &:hover {
        box-shadow: none;
    }
    &_active{
        box-shadow: $shadow-brown-press;
        cursor: default;
    }
}
