@import "../../../../common/ui/styles/font-sizes";

.Catalog {
  .content {
    display: flex;
    margin-right: 5%;
    margin-left: 7.7%;
    margin-top: 10px;

    @media screen and (max-width: 1023px) {
      margin: 0;
    }
  }
}