@import '../../../../../../../../common/ui/styles/colors';

.colours {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  position: relative;


  &Row {
    display: flex;
    min-height: 48px;
    width: 100%;
    gap: 2px;
    justify-content: space-between;

    position: relative;
  }


  &Col {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-shrink: 1;
    min-width: 0;
  }
}

.DDSelect {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
